
@{
    ViewBag.Title = "FileHistory";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<hr class="featurette-divider">
<div class="col-sm-11">
    <div class="panel panel-default col-lg-offset-1">
        <div class="panel-heading"><h2>Статистикүүд</h2></div>
        <div class="panel-body">
            <table class="table table-condensed">
                <tr>
                    <td>Нийт ачаалсан зургын тоо</td>
                    <td>@Model.Count</td>
                </tr>
                <tr>
                    <td>Нийт илрүүлэлт хийгдсэн файлын тоо</td>
                    <td>@Model.Count</td>
                </tr>
                <tr>
                    <td>Системд нэвтэрсэн тоо</td>
                    @if (Model.Count == 0) {<td>0</td> }
                    else {<td>@Model[0]["LoginCount"]</td> }
                </tr>
             </table>
        </div>
        <div class="panel-footer"><a href="@Url.Action("Index","Home")" class="btn btn-info" role="button">Илрүүлэлт хийх</a></div>
    </div>
    <div class="panel panel-default col-lg-offset-1">
        <div class="panel-heading"><h2>Файлын түүх</h2></div>
        <div class="panel-body">
            @if (ViewBag.ErrorMessage != " " && ViewBag.ErrorMessage != null)
            {
            <div class="alert alert-danger">
                <strong>Алдаа </strong> @ViewBag.ErrorMessage
            </div>
            }
            @if (ViewBag.Message != " " && ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    <strong>Амжилттай  </strong> @ViewBag.Message
                </div>
            }
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Гаралтын файл</th>
                        <th>Эх зураг</th>
                        <th>Огноо</th>
                        <th>Устгах</th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.Count; i++)
                    { 
                    <tr>
                        <td><a href="@Url.Action("Download",new { type="doc",name=Model[i].ItemArray[1] })">@Model[i].ItemArray[1]</a></td>
                        <td><a href="@Url.Action("Download",new { type="image",name=Model[i].ItemArray[2] })">@Model[i].ItemArray[2]</a></td>
                        <td>@Model[i].ItemArray[3].ToString("yyyy-MM-dd")</td>
                        <td><a href="@Url.Action("Delete",new { HistoryId=Model[i]["HistoryId"] })"><span class="glyphicon glyphicon-trash"></span></a> </td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    </div>